@font-face {
    font-family: "icon-com"; /* Project id 4624061 */
    src: 
         url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAcEAAsAAAAADVQAAAa3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACENAqLZIlPATYCJAMwCxoABCAFhGcHgRwbYwsRFaS7k31xYIMxo4kP594KqlBvU8HJUu5HJdeD/J6D/6dj37nvzcxWN1DT0gfe0garIgnTGtE/9J71k3TZJO0CTrWg2xXY3N1TcmDrA6uDVX490AGAAJyaXi5YqUAF7a59HI4KuqO1AT79gPMBDuzvu5+Nj+QJU2E+ytkjj77rT4HSl6aj/1trdefucIv20Wn0suKzi5k0k7SVxuskQppFVNpVNFsjJXrnGJ1hQvmle7Um3waBcrMywFVBGR8w6s6ZMeDFCpsvxANVD/Z3Art5rlATIqUZCbprDLQBEdbAz4Bb+/N6MR/YAUyMADvKwTy/B9z6rPizYZrw/xvwJ1oYbgRZ3UAEDiY9y9e2vvQDeKhNWlJeNjw4AqjnMNds0J1rPmv4rPmzjs96Phv8bPj/Yh7Vo3bXwFisVOo5ckFuxMP5VkkJF5QqU64C/eMZlAJCKrHHU1sFcrHEiMg1GAm5HqMEuQHDkZsxAnI7RilyB0YZcg9GOfKA4MYYxNkIG8PYivm0SytAO6AH2AAw/wItcGQe0lOKkjm4OhVj9j6OMG5C/RieVpSxP7KHK8dxmXoNwvoVnUHqIWvCgIwySFUmVo0wKa29psFFEsI/TF7xkkFQlT0VKrhsYpWIZW51IjroA3DjuueIe737MpmkYql4Og9VyNEwURR0JexKnJG/W3rkmLul/ljonkhXdag6HqFwLS7nnvU+GQ4zrDFKS2jorpAjQ7vOmPD0ZerpWeLEE/KSTrBbRWoILaUep0OEZsK542BZCFDcPgdCOmd19pPiqD5RYYxrb89ud/bTR/s0BN4vptRCl57ePUIV2YdM9/L7eur6++p7+wXLKCyUHCaPyiAaevQGcTMco8lvUtc9YQwfWXhtvF8sE9EdyN0S19491HKPDtj6MHmq3KF14/SJZGKxn/33SJeZoJpcZSa8Tt0kbty71hh4kmyueJkysRIjX3AIzW51RqMZM5YqAck38mChwBRM1VuCiTpzziipdSL9KYQyCaQK1QU3s5nfjIZQFku9/OJ5pYeRFbfTj56ZEgSBLs7OgDdVojMeJYnaHvU2/hH+tu3+YfZHTEfmdinhwxzUhBLUo6mRhC8fvgr4NEqCB/ikhgS7FcHPtufEIa2LzgxkflqeMLzHuHwuz8Di/SWr8ZNHdqf36lsdg/FjNQDrx+yYsWqWDw+OiIaK16rg7SUPReCTfjta+x2sar+7dOfXw7rp2+vfMYK8ghgMLAi7Ka8CMZywK4ygi7DPrb9TkFtrL5GUv1/u8mHOBb7J7eeEX2RkYEHeQVhGLdamFKutSfnWZAwBBd2jSscYR9X1adBc0FXJNqpdDRY3dwcGX6VdzhaxcVPTUtQpE5OmpxOSEugg+Zbf0cH8+0TAib+ZtLoD4kG4ycaB52AzPYSHE88JuDZbns4Hf4v6oP86z0dP+Y4XSCld/Itusx5g/h4LOxTzaCTrln+xIGD8C3sv7P9UW3rox/U/6ifkYcb1lt/95GnydPkpDbjKZWmyDNSgBZd53r1dB0GNKGVurHAX/QBHFpulkL8bcTXiXbmiKOUs67y/dKBd6X4h4czSO8dKW9uaK9glLFYJu+ICu5xVWoInk18oZ5fieGnyC+wKvKSURQfM8UJfRndaSn/a0J+CNWzE0sssTN2fSOvePvNr0T5uhbKpEXQMoiu4nBou/wFlaVYFj/zBjoL1xM4e75wqDsfQGVi7vLY/79eFJwGacK2z8pCLJlTjoqfJwfUfQNHkZsdtvMaBT51Qucm1ZXZm5wMAfoQJpEqxlZbfJULrJnRS/PKuRipcP2lnpv1qV/F7XvDzS/qntLQoDW7yKX37lQpfVaMAnDNs66AyLpsaKXSOr3TOptlAObfAN7Sy3nsuzAYw4X/BbIjBlOgAV6ofBY9xiCrMQ1JqC8pNyN+7QoMJNIrtAQzbiEBqqcFU+wZX6yEKHhaImn0OSa1/odxhgB2uwjBN6o1AMizidBNOYdZCZ7tepzB9g2lRUlLG6/0DVYdZTBxetuMLMlAfW9SzmZm10IRJfA51NogRRSH0oLi3zOU4cPvKtH5ts3ojkKxTLoLTLb1TmHUmp0lHfzt9g2lRUs2YpPs/UCX8bOmCiZ4RgL5IBo3pSfd6NjMNYV2qCVwu+PStGCLXkJBSrnnaW3GP7dBcjgx8Lg01e7fi3U2478Zlj1K5NrmCopJKVKoylatClaoiVeuKywduulrmF6+aGFt3k0o87N5wq6w8pFldgK9F3a9OdlXmSRc8RGyLON42OjhUbLXhQ7VNXl1erQA=') format('woff2'),
         url('//at.alicdn.com/t/c/font_4624061_s56k30sevvf.woff?t=1724812645941') format('woff'),
         url('//at.alicdn.com/t/c/font_4624061_s56k30sevvf.ttf?t=1724812645941') format('truetype');
  }
  
  .icon-com {
    font-family: "icon-com" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .i-com-shipin:before {
    content: "\e669";
  }
  
  .i-com-tupian:before {
    content: "\e66b";
  }
  
  .i-com-jiantou-you:before {
    content: "\e658";
  }
  
  .i-com-jiantou-zuo:before {
    content: "\e65b";
  }
  
  .i-com-cha:before {
    content: "\e649";
  }
  
  .i-com-jiahao:before {
    content: "\e652";
  }
  
  .i-com-jiantou-xia-sanjiao:before {
    content: "\e657";
  }
  
  .i-com-loudou:before {
    content: "\e65f";
  }
  
  .i-com-lie:before {
    content: "\e660";
  }
  
  .i-com-sousuo:before {
    content: "\e664";
  }
  
  .i-com-shuaxin:before {
    content: "\e668";
  }
  