@font-face {
  font-family: "icon-com"; /* Project id 4624061 */
  src:
          url('https://zjh-group.oss-cn-hangzhou.aliyuncs.com/resource_admin/iconfont/admin-common/iconfont.woff2') format('woff2'),
          url('https://zjh-group.oss-cn-hangzhou.aliyuncs.com/resource_admin/iconfont/admin-common/iconfont.woff') format('woff'),
          url('https://zjh-group.oss-cn-hangzhou.aliyuncs.com/resource_admin/iconfont/admin-common/iconfont.ttf') format('truetype');
}

.icon-com {
  font-family: "icon-com" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-com-wenhao-plain:before {
  content: "\e65a";
}

.i-com-jiantou-xia-shixin:before {
  content: "\e654";
}

.i-com-lajitong:before {
  content: "\e663";
}

.i-com-jiantou-shang-shixin:before {
  content: "\e6f2";
}

.i-com-gou:before {
  content: "\e650";
}

.i-com-fuzhi:before {
  content: "\e64d";
}

.i-com-huanyuan:before {
  content: "\e611";
}

.i-com-jiantou-xia-yuan:before {
  content: "\e656";
}

.i-com-gantanhao:before {
  content: "\e6f1";
}

.i-com-wenhao:before {
  content: "\e66e";
}

.i-com-gou1:before {
  content: "\e607";
}

.i-com-shipin:before {
  content: "\e669";
}

.i-com-tupian:before {
  content: "\e66b";
}

.i-com-jiantou-you:before {
  content: "\e658";
}

.i-com-jiantou-zuo:before {
  content: "\e65b";
}

.i-com-cha:before {
  content: "\e649";
}

.i-com-jiahao:before {
  content: "\e652";
}

.i-com-jiantou-xia-sanjiao:before {
  content: "\e657";
}

.i-com-loudou:before {
  content: "\e65f";
}

.i-com-lie:before {
  content: "\e660";
}

.i-com-sousuo:before {
  content: "\e664";
}

.i-com-shuaxin:before {
  content: "\e668";
}

