@font-face {
  font-family: "icon-com"; /* Project id 4624061 */
  src:
          url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAsgAAsAAAAAFGAAAArRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFeAqWcJJxATYCJANYCy4ABCAFhGcHghsbcBEjEWZklUz2V9iU4V4oI+psTmx43z0AzxnNHEp+3XC3sA0kAACQnLAx6MB7ByYAAAAAABhK6cfvj+/MzH33EQuCVUhgEtLmdYMz28f/0+W5TTcxLMlVfBVzSiBSws+Dz53Pe8e15YH/w/1ts7Q5DqMEXjiWzuNtCyePbYH1F9ifnrb1D+xdFgzKRNAGzLouFqwCvEz+nOxd714UIahXBmB08T2UXxFhjrANdHS0A3W0ltq7AID+oCNpYuTu3wVmdx4mfPkQQy2QRFWh9goILu8aoesqZF2Vq1G+ug1rIyA4kMtLF+MQJJ73pSamcEZ+DgjgaKk7Th+c3aUaVYoq1adEpxMsJlM19GmqZFZQGfHEcuuij42DejCA63wEcGLy6+mD1hELYEYM0YuMrOx7qd+f+fOPKMsDIG+MjOaWKbdngAEQQFPJqugr2/cTMoOmE+mIRioPATVjS0Gjf3b8c9D51c3d0+uXF/6o//LyTP3B8cmCgL/1K5I6WYFe11FfQ43/Ow9waCGDEiGmmC+QSLFMzuWxWQQoiWiMBwCN5gHI4ac5IDgTjCFocBCEEBwGwQBHQlDgaAgROBYCgeMRaBYnIABOhOCDUyAE4AwICTgTQgrOgcDgXAgZuBBDdlwEwQWXQPDA5RBs8DcEC/wD4n4JLB7TFNAWpAmoNaKoGyyiFUl3AaiYdckTnV2kCL3Snartuv7Ka+paFaM051yRuFTYrSqlUZTDBtXtqjGz26seVFLQ7JNSMW8eb6mJx143I1VAlauruMXiBR0GO40wTFaurMAIYbWSbGCCpSFhpkIixAicmqc+qLbAVtkPUfBBkh2tmKgjpdThBlBmfUsvkIWQERtEpkDPyCSoosqE1bmaDW9gpqHcgJtImNXalv3KCuBgseRT8NnB1iyrbWhOYDsz0AJ4bLFAh/BuegaCkCND1gMH/c9DpPwCEkyAnRaIAiS1IV2VY5raagYqGd1XVaali57gTLEaBWynyGJxuHg1DpNY4wl0RWCrAhcKJYJgNwVG9guJ6mCiBexki8rr8UYf8QsSlmPY9RnYEDEAdgYrZIYVzaid6yDZEb9JrBerh7BBvP/5QJaav6duzOpTOboK4Razlxac6ulgafRM7GlTH0yEqMrKDfSqbkM921tp3Co82jd1Uzd1rldkFO8KP3AWA5XvnWZ8IQXxOlDBDFHxZZId9go+SsUNa5YRph1c1u1M6XStv6gK7/XQnQi7VzARgPasCLZrdHVI6LT4l6GqZklYCjzBIDBE1LMN/jWB6lDSw8DeGIvoSVl1LcsqqQ1QhTCMAcZY+Ai/jq8Pb/NsCiIHdghRd/JKukKXk/mgY8qWHmKuDWucxbvr0SenlUvaYDwOXQW8O+eVVQbceWUIuLK3QA4rVKbems6QFj/xjxw6KjNhfLmGMCrpxVKV0oDL4NNSkaxYLJdJpHJUQSErtVV4jY5kQ6kZxIaCENGfhVp3so+XVfYfl2t0asgZf6JlSFWEorgecKg6ZLxvI8Jkap1GI+dEVZmCBgKDlrJygDhR9eP9GdMQnP2M89q6YhGhfehhii2W1Uiz7oleItuOXlxhMMHP6WWdzNVVkUswcSKH6bs6KtiWZeVBNQemDoZJR+d9ALSG1H3PKfgjnGKZA51bmxZ84ndlC4/lCOP+Pu9GBjE0LNf/B0137xSGvSl0dv668P/7OXGI6fayNSuuoSRgye1xza77aCuHtc7jV491LL9Tb/S7qpytNJW/imZ1VrUsJfa4Xdevd14Hjae3+R7t1oDFAdn59Rteuz02AdpGVyIWQuaD5+gN9N3dRO9zmL9U9OCgDRsCg5tC1geeiuAGptm+r+Co+0o47/SSPg2nknOz78Lznk4hm7eGhFYcZ9MqVrBIKytZgHWODfIx3d2puTtr76EZ/3JGfl56afrwUlW1Rp0MOM+gJqaf1GBsStTWZj5iLdre9m7wu37f2+bH5HuFJTEZkWJxZEaMWSy8keK6u9lWrpFfSpEnFxcny1N+ISNLVnf/xb4PINL7UkmqNClJmlryi1h4pUnc/Rf1+Ax3/DiBVyN9BK5vBCaEBwVTXwk9/Y/n+cYVcjzF8TJPTiTg/EULTdtKL281jW0xYNgBP4n/kNgfagzzO+AvBh+zt5qUpZguDrBPWQ9Esaj9LLYb95Bp+50637TZWfXo5zOf6LUiwZ6Heh/I2vvVGaUT8suzc6zwqZn3ybnfUJP/LbJ1cH7b/P+7DGrKzpLcoKzAu3cDs4JyzWJkyerZc4PMAmXV9cTEd0O+1em/DXmHr3zuPIOpVat5GRlgM+WHakMfhN7if8S/pY/8cN1HNBfayUExz/PCFIAR06eOxH05Zfb9NFTL9/W6pvkxt5Lnd5zTfKpCiMal/YDiDqss86TMg7YvlgQZn0w7tlQu57j48Wv3g3ox6uEZ2yz94YNH1Ie2Xd5LfrB9Sg3uQSN2dj4v9uaNXRr9tar+9Ejpd1SeB48aIDzk2eBDiOqKPKTyushew38nwc8Tl+Ckv5cee9HWc2/E9ueUX6SlIbU9eUj3A0gZHzJm/0rE6LRpYPPAmgqXKBcfPsc7x+vT3if0Ta/v3CgZ3BcOW70tOubU6W2OcscnnD4dlxCnBtt3N+Xn0/5u9G38u8mWfFIEiW575whn+/EcbNcIV8A4dHfuvN+3FC9Kqdv5/JG3PUBSGzpn64hgEuGwLzwsP08JEQxztqG+x79w8kDKtagNe/n48o/LJwbPc3zZ+ruPPkWfqm82ge01dCm6tNZZB7bV2DzealfQ/eqkc8e2PIaeh+mi15br3w3uC35XX741qU3QwSkryatgdca1XrpduyMnN2u3cLtAsF24u1O4S7BjO7/m7Nwl3MHn78jZKdzN375DoAa00gVZWlFKkjzl0J9i4S1KwftcODVxIqXowZlfj56G767IzABfoyJ3h4ftDxdNgsG7OwJ+yN9cGl9Q7Ll+b1jYqwLuAcXlZxt/Hc/6moLq3Cpe0k0BJvqyjR7soPwvAeUveS9NJvp023g3HNgGESf+JlV6trKXXvRs5CC9gUkWTODyoEitqWVNBmqYSqRpz/Wu5FilfM5VivZlLpnkmbz0lfl7czuM+zs0o9n1f8F/QZd8a3K56aSk+w5Y+ONL4tcFpxbcVfntQBEX/VsDoxNHYYtCDwOc+BTgp6Up8VEWV1rY/HlzpYtMZqoCIgquDYrgxpkGV2vQBHfLdDTR78mu1EpZFLcB1LeHTBK5mskCD0AIfgmK4A+ZhsIv0ASXZjrGR/znc9WPzNnVnCL3yPeEhAyUkMDJ3RwG8Q33raR6uYS7PXBtQlBkuXnL9cFDrriu4wFm6K8gCiI0xOSgqTfjUgJJNEScoRsgJjuDFvNF4Lo2qV0aR+Eot4eYbVJ4EQYowoOr0lF/d+wG57MkSmesqox8wGlGcRo3TrTSXMsC+qFUhVaVZOQaQ74VNR4J33y6cAPRXzaLkzGAIleKIVLHMsi1sEJPYkeLeLf5RV1ut+ZNIHHZrRm9cHE+zZpumFJZtuN6pH8PzxdLpDK5QoXoRCFVCNYZh9QxQRh3UyVJoxBB+T3xgAmo8s0HZn2weWGnQVgKLFWTwY5WdecalX2NaVRAoTDiY8iVoOVCaS1pKaBNirqrStME7GLG1EKWBbSwyivs7MpFVC0Pg4IE68k+K0NeMGCNhaKRgfeqPAUAAA==') format('woff2'),
          url('//at.alicdn.com/t/c/font_4624061_ynprlfmko7r.woff?t=1728442796588') format('woff'),
          url('//at.alicdn.com/t/c/font_4624061_ynprlfmko7r.ttf?t=1728442796588') format('truetype');
}

.icon-com {
  font-family: "icon-com" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-com-jiantou-xia-shixin:before {
  content: "\e654";
}

.i-com-lajitong:before {
  content: "\e663";
}

.i-com-jiantou-shang-shixin:before {
  content: "\e6f2";
}

.i-com-gou:before {
  content: "\e650";
}

.i-com-fuzhi:before {
  content: "\e64d";
}

.i-com-huanyuan:before {
  content: "\e611";
}

.i-com-jiantou-xia-yuan:before {
  content: "\e656";
}

.i-com-gantanhao:before {
  content: "\e6f1";
}

.i-com-wenhao:before {
  content: "\e66e";
}

.i-com-gou1:before {
  content: "\e607";
}

.i-com-shipin:before {
  content: "\e669";
}

.i-com-tupian:before {
  content: "\e66b";
}

.i-com-jiantou-you:before {
  content: "\e658";
}

.i-com-jiantou-zuo:before {
  content: "\e65b";
}

.i-com-cha:before {
  content: "\e649";
}

.i-com-jiahao:before {
  content: "\e652";
}

.i-com-jiantou-xia-sanjiao:before {
  content: "\e657";
}

.i-com-loudou:before {
  content: "\e65f";
}

.i-com-lie:before {
  content: "\e660";
}

.i-com-sousuo:before {
  content: "\e664";
}

.i-com-shuaxin:before {
  content: "\e668";
}
