:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-cColor: #cccccc;
    --color-dColor: #dddddd;
    --color-eColor: #eeeeee;

    --color-primary: #409eff;
    --color-success: #1CA817;
    --color-warning: #ECA232;
    --color-danger: #CA2020;
    --color-error: #CA2020;
    --color-info: #909399;
    --color-disabled: #c0c4cc;
    --color-special: #27B3C5;

    --bg-color: #F5F7FA;
    --bg-color-page: #F5F7FA;
    --bg-color-overlay: #ffffff;

    --text-color-primary: #303133;
    --text-color-regular: #606266;
    --text-color-secondary: #909399;
    --text-color-placeholder: #c0c4cc;
    --text-color-disabled: #c0c4cc;

    --border-color: #dcdfe6;
    --border-color-light: #e4e7ed;
    --border-color-lighter: #ebeef5;
    --border-color-extra-light: #f2f6fc;
    --border-color-dark: #d4d7de;
    --border-color-darker: #cdd0d6;
}